<div class="row">
 <% @photos.each do |p| %>
  <div class="col-xs-6 col-md-4">

  <%= link_to photo_path(p) do %>
    <div class="thumbnail" style="background-image:url(<%= p.image %>)">

<!--       <div height="300"></div>
      <div class="caption" style="background-color:black">
        <h3><%= p.imagename %></h3>
        <p>いいね</p>

      </div> -->
    </div>
    <% end %>
  </div>
  <% end %>
</div>